@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 0;
}
.navig {
  background-color: darkmagenta;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-weight: 500;
}
.card-wrap {
  display: flex;
  gap: 10%;
  padding: 40px 20px;
  border-bottom: 1px solid rgba(55, 55, 55, 0.1);
}
.card-wrap img {
  border-radius: 20px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
.titles {
  display: flex;
  align-items: center;
  gap: 20px;
}
.titles a {
  color: rgb(100, 100, 100);
}
.titles h4 {
  font-weight: 400;
  letter-spacing: 1px;
}
.info h4 {
  font-weight: 500;
}
.info h1 {
  font-size: 2.5rem;
  letter-spacing: 2px;
}
p {
  color: #2b283a;
}
@media (max-width: 660px) {
  .card-wrap {
    flex-wrap: wrap;
    gap: 0;
    border-bottom: 1px solid rgba(55, 55, 55, 0.1);
  }
  .card-wrap img {
    border-radius: 20px;
    margin-left: 2em;
  }
}
